/* Desktop size and common code her */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
/* Variable  */
:root{
    --primary-color: rgb(11, 181, 48);
    --secondary-color: rgba(36, 122, 55, 0.9);
    --padding: 0.5rem;
    --transition: all 0.3s;
    --border-radius: 0.6rem;
    --box-shadow: 0.1rem 0.2rem 0.8rem rgba(205, 202, 202, 0.5);
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Navbar starts here */
#menu-bar{
    display: none;
}
nav{
    font-family: serif;
    font-size: 1.5rem;
    position: sticky; top: 0; left: 0; z-index: 100;
}
.nav-upper{
    min-height: 10vh;
    background-color: var(--primary-color);
    padding: 1rem 0;
}
.profile-icon{
    width: 50px; height: 55px;
    border: solid white 2px;
    border-radius: 50%;
    filter: saturate(0);
}
.profile-icon:hover{
    filter: saturate(1);
}

nav a{
    color: white;
    font-weight: bold;
}
.nav-upper a:hover{
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}

.nav-lower{
    background-color: var(--secondary-color);
    min-height: 10vh;
}
.nav-lower a:hover{
    color: blue;
    text-decoration: overline;
    transition: 0.3s;
}
.nav-brand{
    font-size: 2.5rem;
}

/* Navbar ends here */

/* Banner starts here */

/* Banner ends here */

/* Footer starts here */
footer{
    background-color: var(--primary-color);
    font-size:1.2rem;
    color: white;
    padding: 1rem;
    min-height: 10vh;
}

.footer-input{
    padding: 8px;
    border: none;
    width: 20rem;
}
.footer-btn{
    padding: 8px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.footer-btn:hover{
    background-color:var(--secondary-color);
}
/* Footer ends here */