@media (max-width: 992px) {
    .flex-space-around{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }
    #menu-bar{
        display: block;
        text-align: center;
        margin: 1rem 0;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    header{
        height: 150vh;
    }
    .sort-search{
        flex-direction: column;
        gap: 5rem;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 2rem;
        padding: 2rem 0;
        
    }
    .category{
        flex-direction: column;
    }
    .rsiter,.login{
        width: 80%;
    }
    .user_login{
        width: 80%;
    }
    .lb{
        width: 12rem;
    }
}


@media (max-width: 768px){
    header{
        height: 120vh;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 2rem;
        padding: 2rem 0;
    }
    .rsiter,.login{
        width: 90%;
    }
    .contact{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .register_form{
        width: 75%;
    }
    .user_login{
        width: 90%;
    }
    .lb{
        width: 10rem;
    }
}
@media (max-width: 600px){
    header{
        height: 120vh;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        gap: 2rem;
        padding: 2rem 0;
        
    }
    .cart{
        display: flex;
        flex-direction: column;
        padding: var(--padding);
        gap: 1rem;
        width: 100%;
    }
    .rsiter,.login{
        width: 100%;
    }
    .user_profile{
        width: 80%;
    }
    .register_form{
        width: 90%;
    }
    .p-btn{
        padding: 0.3rem;
    }
    .user_login{
        width: 100%;
    }
    .lb{
        width: 5rem;
    }
}